body {
    background-color: #bdc3c7;
}

body > div:first-child {
    width: 100%;
}

body > div:first-child * {
    display: block;
    margin: 10px auto;
}



canvas {
    border: 10px solid black;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}